## .NET / Visual Studio / Rider
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.userosscache
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
*.vssscc
.builds

## IDEs
.vs/
.vscode/
.idea/
*.DotSettings.user

## Rider / ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

## Test results / coverage
[Tt]est[Rr]esult*/
coverage*.json
coverage*.xml
coverage*.info
TestResults/

## Secrets & local config
appsettings.Local.json
*.env
.env
/.env
.env.*
!.env.example
secrets.dev.yaml
values.dev.yaml

## OS
.DS_Store
Thumbs.db

## Node (por si se agrega frontend)
node_modules/
npm-debug.log*
